/* #f0e004 -> (orange) header */
/* #1a1a1a -> (dark gray) text */
/* #5d737e -> link */
/* #87bba2 -> clicked link */
/* #f0f7ee -> background */
/* #f5e24b -> text in logo */

@font-face {
  font-family: "Bukhari Script";
  src: url("./fonts/Bukhari-Script.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  background-color: #f0f7ee;
  color: #1a1a1a;
  font-size: 20px;
}

/* === HEADER === */

h1 {
  font-family: "Bukhari Script";
  font-size: 62px;
  font-weight: bold;
  color: #1a1a1a;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  background-color: #f0e004;
  color: #1a1a1a;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

#header-img {
  padding-left: 10px;
}

nav {
  align-self: flex-end;
  margin: 0;
  font-size: 1.2em;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-weight: bold;
  margin: 0;
}

nav ul a {
  text-decoration: none;
  color: #1a1a1a;
  padding: 10px;
}

/* === BODY === */

main {
  width: 80%;
  margin: auto;
  margin-top: 200px;
}

#video {
  display: inline;
  text-align: center;
}

#products {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

#products div {
  border: 5px solid #1a1a1a;
  border-radius: 10px;
  flex: 0 1 350px;
  padding: 0 20px 10px 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  box-shadow: 10px 10px 5px #1a1a1a;
  padding: 0;
  margin: 0 5px;
}

#products > h2,
p {
  padding: 10px 5px;
}

#products h2 {
  background-color: #87bba2;
  margin: 0;
  border-radius: 5px 5px 0 0;
  padding: 10px 5px;
}

/* === FOOTER === */

#footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: end;
  align-items: flex-end;
  margin-top: 10px;
  height: 100px;
  background-color: #f0e004;
}

p,
#disclaimer {
  margin: 0;
}

#disclaimer {
  display: flex;
  list-style: none;
  margin-bottom: 5px;
}

#disclaimer li {
  padding: 0 5px 0 5px;
  color: #5d737e;
}
